@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #222222;
}
header {
  min-height: 100vh;
  background: #2a2a2a;
}
header h1 {
  font-family: "Style Script", cursive;
  font-size: 70px;
  color: #f2cc6d;
}
header p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #fab7b7;
}
.player-section {
  min-height: 100vh;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding: 20px;
}

.my-card {
  background: #4a4a4a;
  color: #fff;
  text-align: center;
  padding: 0;
  width: 320px;
  height: 510px;
  margin: 10px;
  border-radius: 7px;
}
.dot {
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  margin: 0 20px;
}
.player-name {
  margin: 10px 0;
  font-weight: bold;
}
.player-img {
  width: 100%;
  height: 350px;
  border-radius: 7px 7px 0 0;
}
.my-btn {
  background: #3232f7;
  color: #fff;
  width: 200px;
  padding: 5px 20px;
  font-size: 24px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.5s ease;
}
.my-btn:hover {
  background: #9696da;
}

.selected {
  margin: 20px;
  font-size: 30px;
  font-weight: bold;
}
.my-selection li {
  padding: 20px;
  margin-left: 10px;
  font-size: 20px;
}
.my-label {
  font-size: 20px;
  font-weight: bold;
}
.my-input {
  outline: none;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  width: 50%;
  height: 35px;
  padding-left: 10px;
  font-size: 18px;
  margin-left: 20px;
  border-radius: 4px;
}
.cal-btn {
  width: 300px;
  margin: 20px 0;
  border-radius: 7px;
}
.player-expenses,
.final-total {
  font-size: 24px;
  font-weight: bold;
}

.final-total-price {
  color: #f2cc6d;
}
